
body {
  font-family:'Cascadia Code';
  color: #4d4d4d;
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 12px 12px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}